<a href="https://colab.research.google.com/github/agbi123/r-markdown-document/blob/main/presentation_on_integer%2C_array%2C_dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INTEGER

Integers are whole numbers. they don't have fractions or decimals.

these are some examples of integer as a data structure

In [ ]:
num = 3

the code below shows the data type.

In [ ]:
print(type(num))

<class 'int'>

some arithemetic calculations

In [ ]:
num_1 = 34
num_2 = 5
print(num_1 + num_2)
print(num_1 - num_2)
print(num_1 / num_2)
print(num_1*2)

39
29
6.8
68

# ARRAYS

Arrays can be defined as a set of elements that are of the say data type. they are designed to carryout mathematical computations.

In [ ]:
import numpy as np

In [ ]:
arr = np.array([2,2,3,3,5])
multi = arr * 3
print(multi)

[ 6  6  9  9 15]

#using the array module
integer type module and character type  module

i - integer type 
u - character type

In [ ]:
from array import *
num = array("i",[1,4,5,4,8,4])
for i in num:
  print(i)

1
4
5
4
8
4

In [ ]:
from array import *
vowels = array("u",['a','e','i','o','c'])
for i in vowels:
  print(i)

a
e
i
o
c

# DICTIONARY

Dictionary allows the user to work with key value pairs.
it consist of both the input and output data.

In [ ]:
students = {'name': 'john', 'age': 20, 'course': ['maths','english']}
print(students)
type(students)

{'name': 'john', 'age': 20, 'course': ['maths', 'english']}

dict

#accessing data in a dictionary

In [ ]:
print(students['class'])

KeyError: ignored

In [ ]:
students['School'] = "wofgs"

In [ ]:
print(students)

{'name': 'john', 'age': 20, 'course': ['maths', 'english'], 'School': 'HURU'}

In [ ]:
students['School'] = "HURU"